body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../images/transparent.png');
}

#picture {}

.noselect {
    user-select: none;
}

.nodrag {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.button-container {
    width: 100%;
    text-align: right;
    background-color: rgba(35, 35, 35, 0.4);
    color: white;
    font-size: 2em;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 1;
    transition: opacity 0.5s ease;
    -webkit-app-region: drag;
}

.button-container:hover,
.button-container:active {
    opacity: 1;
}

.icon-button {
    cursor: pointer;
    transition: color 0.25s ease;
    -webkit-app-region: no-drag;
    margin: 4px;
}

#select-image:hover:active {
    color: #F9D774;
}

.titlebar-button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}